<header>
      <h3>Totally Tastefully Tinted Tees</h3>
  
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">

    <nav>
      <!--<a [routerLink]=" ['./'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Index
      </a>-->
      <a [routerLink]=" ['./home'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Home
      </a>
      <!--<a [routerLink]=" ['./detail'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Detail
      </a>
      <a [routerLink]=" ['./barrel'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Barrel
      </a>-->
      <a [routerLink]=" ['./about'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        About
      </a>
      <a [routerLink]=" ['./products'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        T-Shirts
      </a>
      <a [routerLink]=" ['./orders'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Orders
      </a>
      <a [routerLink]=" ['./contact'] "
        routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
        Contact
      </a>
    </nav>
   </div>
  </header>
    <main>
      <router-outlet></router-outlet>
    </main>

    <pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>

    <footer>
      <span>Totally Tasteful Tinted Tees <a [href]="url">@AngularClass</a></span>
      <div>
        <a [href]="url">
          <img [src]="angularclassLogo" width="25%">
        </a>
      </div>
    </footer>